@import url('http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700,800,900,100');@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic');@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,500,600,700,800,900,100');
html{ scroll-behavior: smooth;}
#top-webshop-link{text-transform:uppercase;font-weight:600;background:white;border-radius:92px;font-size:14px;padding-top:5px;padding-bottom:5px;padding-left:20px;padding-right:20px;color:#a45e68;margin-right:20px;top:-5px;position:relative;border:2px solid #fff;}
h4 { font-size: 20px; margin: 10px 0px !important;color: #828a90 !important;}
#top-webshop-link:hover{color:white;background:transparent;}
#logo-text{color:#fff;font-size:13px;line-height:14px;font-weight:600;padding-left:30px;padding-top:15px;letter-spacing:5px;}
.info-bar .fa-info-circle{font-size:15px;margin-right:5px;}
.info-bar{background:#909090;color:#fff;min-height:35px;}
.info-bar a{color:#fff;}
.info-bar .pull-right span{font-size:14px;}
.info-bar .pull-right #open-button-info{background:transparent;border:none;padding-left:25px;display:none;transition:all .5s;}
.navbar-change .info-bar .pull-right #open-button-info{background:transparent;border:none;padding-left:25px;display:inline-block;transition:all .5s;}
#popup{display:none;transition:all .5s;}
.navbar-change #popup{display:block;color:#fff;transition:all .5s;font-size:14px;}
#logo{width:200px;margin-left:15px;}
#telefon{margin-right:10px;}
.navbar #telefon{padding:5px;}
.info-bar .pull-right{margin-top:4px;margin-right:6px;}
#supplement-facts h2, #features h2, #mission-text h2, #mission-video h2,
#product-carousel h2, #features-2 h2, #real-man h2{text-transform:capitalize;color:#999798;}
#supplement-facts h3{font-weight:600;}
.supplement-img{float:right;max-width:90vw;}
.supplement-details{margin-bottom:55px;}
.supplement-details p{font-size:15px;}
.subscribe-form .subtitle{color:#09759c !important;font-size:20px;margin-bottom:-25px;}
#features{background:url('../img/hullam_fent_bg.jpg');background-size:cover;background-position:bottom center;padding-top:150px;padding-bottom:100px;}
#features ul{min-width:440px;margin-left:-20px;}
#mission-video{background:url('../img/hullam_alul_bg.jpg');background-position:bottom center;background-repeat:no-repeat;padding-top:0px;}
#mission-text p{text-align:center;line-height:30px;}
#mission-text{padding-top:300px;padding-bottom:80px;}
#mission-text .page-header{margin:0px;padding:0px;}
#mission-text a{color:#12a3e2;font-size:21px;font-weight:600;display:block;margin-top:30px;}
#mission-text a:hover{text-decoration:underline;}
.mission{background:#f7f7f7;}
.copyright{font-size:13px;border-bottom:0px !important;margin-top:20px !important;margin-bottom:-30px;}
#impresszum{text-align:right;}
#features-2{background:url('../img/noveny_jobb_vag-l.jpg');background-repeat:no-repeat;background-position:top right;margin-bottom:150px;background-color:#fff;background-size:400px;}
#features .center-part{text-align:left;padding-top:80px;min-width:450px;padding-left:35px;}
#features .right-part{margin-top:90px;}
#features .left-part{text-align:center;}
#accordion{max-width:1110px;}
#accordion h3{font-weight:600;color:#12a3e2;}
#accordion h3:hover{text-decoration:underline;}
.info-icon{font-size:20px;color:#12a3e2;float:right;font-weight:100;line-height:40px;}
#accordion button:hover{text-decoration:none;}
#accordion button:focus{text-decoration:none;outline:0px;}
#accordion button:active{text-decoration:none;}
.card{border-top:1px solid #d8d8d8;padding-top:20px;margin-bottom:20px;}
.last{border-bottom:1px solid #d8d8d8;padding-bottom:20px;}
.card-body{margin-top:50px;margin-bottom:50px;margin-left:0px;margin-right:0px;font-size:15px;line-height:25px;min-height:270px;}
.card-body a {text-decoration: none; color: #12a3e2;}
.card-body a:hover {text-decoration: underline;}
.card .btn{padding-left:0px;}
.placeholder-img{float:right;margin-left:50px;border-radius:10px;}
.video-container{position:relative;padding-bottom:35.5%;padding-top:30px;height:0;overflow:hidden;border-radius:10px;max-width:650px;max-height:434px;min-height:210px;margin:auto;top:165px;}
.video-container iframe, .video-container object, .video-container embed{position:absolute;top:0;left:0;width:100%;height:100%;}
#mission-video p{text-align:center;margin:auto;}
#mission-video .page-header{margin-bottom:-70px;}
#tamogato-logok{text-align:center;padding-top:80px;}
#tamogato-logok img{width:100%;max-width:800px;}
.doctor-description{width:690px;max-width:90vw;background:#fff;min-height:300px;border-radius:10px;position:relative;top:30px;padding:35px;}
.doctor-image{max-width:300px;max-height:300px;position:relative;top:0%;left:10%;border-radius:10px;box-shadow:10px 15px 25px #a0a0a0;}
.doctor-name{font-weight:600;color:#000;}
.doctor-position{color:#000;line-height:10px;font-size:14px;}
.doctor-details{font-size:13px;max-width:430px;}
.real-man{background:url('../img/orvosaink_bg.jpg') no-repeat center fixed;background-size:cover;padding-bottom:150px;background-position:center;}
.real-man .slides{min-height:330px;}
.real-man .container{margin-bottom:40px;}
.flex-prev img, .flex-next img{max-width:32px;margin-left:80px;margin-right:30px;}
.carousel-control img{max-width:32px;}
.pulse{margin:auto;display:block;width:3px;height:50px;border-radius:5px;background:#fff;cursor:pointer;box-shadow:0 0 0 rgba(204,169,44, 0.4);animation:pulse 2s infinite;position:relative;top:300px;}
#more-info-link{position:relative;color:#fff;text-transform:uppercase;text-align:center;left:-335px;top:290px;line-height:20px;}
@-webkit-keyframes pulse{0%{-webkit-box-shadow:0 0 0 0 #cccccc;}
70%{-webkit-box-shadow:0 0 0 10px #cccccc;}
100%{-webkit-box-shadow:0 0 0 0 #cccccc;}
}
@keyframes pulse{0%{-moz-box-shadow:0 0 0 0 #cccccc;box-shadow:0 0 0 0 #cccccc;}
70%{-moz-box-shadow:0 0 0 10px rgba(201, 201, 201, 0);box-shadow:0 0 0 10px rgba(201, 201, 201, 0);}
100%{-moz-box-shadow:0 0 0 0 rgba(255, 255, 255, 0);box-shadow:0 0 0 0 rgba(255, 255, 255, 0);}
}
#more-info{float:none;}
.navbar-brand{padding-right:0px;}
#ingredients{margin-top:50px;min-height:500px;}
.carousel-control{top:25% !important;}
.nav-menu-footer li a:hover{color:#12a3e2;}
.footer .fa-facebook:hover{background:#4267b2;}
#mentalfitol-link:hover{color:#88ba14;}
.carousel-inner{min-height:300px;}
#product-carousel{margin-bottom:60px;}
.product-name p{text-align:center;padding-top:0px;font-weight:600;color:#000;width:100%;}
.item .img-responsive{margin:auto;max-height:200px;}
.navbar-change #logo-text, .navbar-change #top-webshop-link , .navbar-change .navigation .pull-right #open-button{display:none;}
#video-arnyek{max-width:650px;width:100%;position:relative;top:165px;}
.popup-img{max-width:50px;padding-right:15px;float:left;}
#popup p{line-height:17px;}
#popup .fa{float:left;padding-right:15px;font-size:35px;}
#popup-close, #popup-close .fa{font-size:12px;cursor:pointer;float:initial;margin-left:5px;}
#popup-close{position:relative;top:6px;}
#popup a{color:#fff;}
.display-none{background-color:transparent !important;box-shadow:0px 0px 0px !important;}
.display-none #popup{display:none;}
.cover-img, .cover-text{padding-top:50px;}
.menu-contact{padding:0px 20px;}
.iso-certificates {font-size: 12px;}
.iso-logo {max-width: 100px; margin-bottom: 15px;}
.iso-certificates p {text-align: center;}
.ingredient-chevron {position: relative; top:5px;}
.glyphicon {margin-right: 20px;}
.col-centered{float:none;margin:0 auto;}
.carousel-control{width:8%;width:0px;}
.carousel-control.left,
.carousel-control.right{margin-right:-20px;margin-left:-40px;background-image:none;opacity:1;}
.carousel-control > a > span{color:white;font-size:29px !important;}
.carousel-col{position:relative;min-height:1px;padding:5px;float:left;}
.active > div{display:none;}
.active > div:first-child{display:block;}
@media (max-width:767px){.carousel-inner .active.left{left:-50%;}
.carousel-inner .active.right{left:50%;}
.carousel-inner .next{left:50%;}
.carousel-inner .prev{left:-50%;}
.carousel-col{width:50%;}
.active > div:first-child + div{display:block;}
}
@media (min-width:768px) and (max-width:991px){.carousel-inner .active.left{left:-50%;}
.carousel-inner .active.right{left:50%;}
.carousel-inner .next{left:50%;}
.carousel-inner .prev{left:-50%;}
.carousel-col{width:50%;}
.active > div:first-child + div{display:block;}
}
@media (min-width:992px) and (max-width:1199px){.carousel-inner .active.left{left:-33%;}
.carousel-inner .active.right{left:33%;}
.carousel-inner .next{left:33%;}
.carousel-inner .prev{left:-33%;}
.carousel-col{width:33%;}
.active > div:first-child + div{display:block;}
.active > div:first-child + div + div{display:block;}
}
@media (min-width:1200px){.carousel-inner .active.left{left:-25%;}
.carousel-inner .active.right{left:25%;}
.carousel-inner .next{left:25%;}
.carousel-inner .prev{left:-25%;}
.carousel-col{width:25%;}
.active > div:first-child + div{display:block;}
.active > div:first-child + div + div{display:block;}
.active > div:first-child + div + div + div{display:block;}
}
.block{width:306px;height:230px;}
.modal-header{border-bottom:0px !important;}
.modal-title{float:left;}
.multi-item-carousel{.carousel-inner{> .item{transition:500ms ease-in-out left;}
.active{&.left{left:-33%;}
&.right{left:33%;}
}
.next{left:33%;}
.prev{left:-33%;}
@media all and (transform-3d), (-webkit-transform-3d){> .item{//use your favourite prefixer here
transition:500ms ease-in-out left;transition:500ms ease-in-out all;backface-visibility:visible;transform:none!important;}
}
}
}
.multi-item-carousel .item img{margin:auto;min-height:160px;}
.multi-item-carousel{margin-bottom:110px;}
.carousel-control{background-image:none !important;background:transparent !important;}
body{font-family:'Titillium Web', sans-serif;font-size:16px;line-height:24px;color:#828a90;background-color:#fff;}
h2, h3, h4, h5, h6{padding:0;margin:0;color:#333740;font-family:'Titillium Web', sans-serif;font-weight:700;}
h1{padding:0;margin:0;color:#fff;font-family:'Titillium Web', sans-serif;font-weight:700;}
p{padding:0;margin:0;font-family:'Titillium Web', sans-serif;font-weight:400;}
a{color:#828a90;text-decoration:none;overflow:hidden;-webkit-transition:300ms;transition:300ms;}
a:focus,
a:hover{text-decoration:none;outline:none}
ul{margin:0;}
input,
input[type="text"],
input[type="email"],
input[type="submit"],
textarea{border-radius:0;}
input:focus,
input.btn.btn-primary:focus,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus{outline:none;-webkit-box-shadow:none;box-shadow:none;}
.page-header{text-align:center;margin:110px 0 80px 0;padding-bottom:0;border:none;}
.page-header h2{text-transform:uppercase;font-weight:800;font-size:30px;margin-bottom:20px;letter-spacing:.3px;}
.page-header h2 .devider{width:1px;line-height:130%;background-color:#12a3e2;display:inline-block;overflow:hidden;margin:0 10px -10px 20px;}
.page-header h2 .right-span{font-weight:300;text-transform:uppercase;}
.page-header .subtitle{font-weight:300;color:#83888f;}
#main-navbar.navbar-change{position:fixed;top:0;background-color:#12a3e2;-webkit-box-shadow:0 0 10px rgba(0,0,0,.2);box-shadow:0 0 10px rgba(0,0,0,.2);min-height:110px;}
#main-navbar.navbar-change .navigation{border:none;padding:20px 15px;}
#main-navbar.navbar-change .logo-left img{width:170px;margin-top:1px;}
#main-navbar.navbar-change .menu-icon{font-size:30px;line-height:40px;}
#main-navbar{position:fixed;top:0;width:100%;z-index:1000;-webkit-transition:all .5s;transition:all .5s;}
.navbar{margin-bottom:0;border-bottom:1px solid #ebebeb;}
.content-wrap{-webkit-transition:-webkit-transform 0.4s;transition:transform 0.4s;-webkit-transition-timing-function:cubic-bezier(0.7, 0, 0.3, 1);transition-timing-function:cubic-bezier(0.7, 0, 0.3, 1);}
.show-menu .content-wrap{-webkit-transition-delay:0.1s;transition-delay:0.1s;-webkit-transform:translate3d(-250px, 0, 0);transform:translate3d(-250px, 0, 0);}
.navbar.menu-wrap .navbar-header{float:none;}
.navbar.menu-wrap{position:fixed;width:250px;top:0;right:0;min-height:100%;border-radius:0;margin:0;z-index:999;border:none;height:100%;background-color:#12a3e2;-webkit-transform:translate3d(250px, 0, 0);transform:translate3d(250px, 0, 0);-webkit-transition:-webkit-transform 0.4s;transition:transform 0.4s;-webkit-transition-timing-function:cubic-bezier(0.7, 0, 0.3, 1);transition-timing-function:cubic-bezier(0.7, 0, 0.3, 1);}
.navbar.menu-wrap *{color:#fff;}
.navbar-nav{margin:0;float:none;}
.navbar .navbar-nav li{float:none;}
.navbar .navbar-nav li a{font-family:'Titillium Web', sans-serif;display:block;font-size:14px;padding:15px 20px;text-transform:uppercase;font-weight:400;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li.current a{background:#fff;color:#12a3e2;}
.show-menu .navbar.menu-wrap{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);-webkit-transition:-webkit-transform 0.8s;transition:transform 0.8s;-webkit-transition-timing-function:cubic-bezier(0.7, 0, 0.3, 1);transition-timing-function:cubic-bezier(0.7, 0, 0.3, 1);}
.navbar.menu-wrap .navbar-form{padding:10px 20px;margin:5px 0;border:none;box-shadow:none;display:block;}
.navbar.menu-wrap .navbar-form .form-control{display:block;width:100%;}
.logo-right{margin-bottom:15px;float:right;}
.logo-right img{width:185px;}
.close-button{width:24px;height:24px;position:absolute;left:15px;top:20px;overflow:hidden;text-indent:-999px;border:none;background:transparent;}
.close-button:hover{-webkit-animation:rotateIn .8s;animation:rotateIn .8s;}
.close-button::before,
.close-button::after{content:'';position:absolute;width:3px;height:100%;top:0;left:50%;background:#fff;}
.close-button::before{-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.close-button::after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.close-button:hover:before,
.close-button:hover:after{background:#fff;}
.navbar .navbar-header{padding:0 13px;border-bottom:1px solid #1A9AD0;margin-bottom:20px;}
.navigation{padding:10px 15px;overflow:hidden;}
.logo-left img{-webkit-transition:all .5s;transition:all .5s;}
.navigation .menu-icon{font-size:30px;line-height:58px;-webkit-transition:all .5s;transition:all .5s;}
.navigation .menu-icon:hover{color:#12a3e2;}
.menu-icon button{background:transparent;border:none;color:#fff;}
.menu-icon button:focus{outline:none;}
#home{position:relative;background:url('../img/csontritkulas_bg.jpg');background-size:cover;background-position:bottom center;padding-bottom:150px;}
.gradient{height:196px;width:100%;position:absolute;top:60%;z-index:3;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(left, rgba(250,252,252,1) 0%, rgba(250,252,252,1) 33%, rgba(250,252,252,0) 100%);background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(250,252,252,1)), color-stop(33%,rgba(250,252,252,1)), color-stop(100%,rgba(250,252,252,0)));background:-webkit-linear-gradient(left, rgba(250,252,252,1) 0%,rgba(250,252,252,1) 33%,rgba(250,252,252,0) 100%);background:-o-linear-gradient(left, rgba(250,252,252,1) 0%,rgba(250,252,252,1) 33%,rgba(250,252,252,0) 100%);background:-ms-linear-gradient(left, rgba(250,252,252,1) 0%,rgba(250,252,252,1) 33%,rgba(250,252,252,0) 100%);background:linear-gradient(to right, rgba(250,252,252,1) 0%,rgba(250,252,252,1) 33%,rgba(250,252,252,0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1);}
.dotted_bg{background:url(../img/pattern.png) repeat;height:196px;width:100%;position:absolute;top:60%;padding:2px;}
.cover{margin-top:115px;position:relative;z-index:10;}
.cover .title{padding-left:30px;margin-top:85px;margin-bottom:50px;position:relative;}
.cover .title:before{content:'';position:absolute;left:0;height:100%;width:5px;border-radius:2.5px;}
.cover h1{font-size:60px;line-height:70px;font-weight:700;margin-bottom:30px;text-transform:uppercase;}
.cover h4{font-size:22px;line-height:25px;font-weight:300;color:#fff !important;margin-top:-15px !important;}
.cover .info{font-weight:400;color:#5b5f64;margin-bottom:50px;}
.cover-img img{max-width:450px;margin-top:50px;margin-bottom:200px;}
.modal{text-align:center;}
@media screen and (min-width:768px){.modal:before{display:inline-block;vertical-align:middle;content:" ";height:100%;}
}
.modal-dialog{display:inline-block;text-align:left;vertical-align:middle;}
.demo-video .close span{font-size:30px;width:35px;height:35px;border:1px solid;display:block;border-radius:30px;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s;}
.demo-video iframe{width:100%;height:320px;border:none;}
.demo-video button:focus{outline:none;}
.order-button{background-color:transparent;color:#12a3e2;text-transform:lowercase;padding:0 90px;line-height:46px;font-size:20px;border-radius:50px;margin-right:20px;font-weight:600;border:2px solid #12a3e2;position:relative;}
.order-button:active,
.order-button:focus{background:#12a3e2 !important;border-color:#12a3e2 !important;color:#fff !important;top:2px;}
.order-button:hover{background:#12a3e2;border:2px solid #12a3e2;color:#fff;}
.order-button span{display:inline-block;width:100%;height:100%;-webkit-transition:all 0.3s;-webkit-backface-visibility:hidden;-moz-transition:all 0.3s;-moz-backface-visibility:hidden;-webkit-transition:all .3s;transition:all .3s;backface-visibility:hidden;}
.order-button:before{font-family:fontawesome;position:absolute;height:100%;width:100%;left:-100%;top:0;font-size:180%;-webkit-transition:all 0.3s;transition:all 0.3s;}
.order-button:active:before{color:#12a3e2}
.order-button:hover span{-webkit-transform:translateX(200%);transform:translateX(200%);}
.order-button:hover:before{left:0;color:#12a3e2;}
a.video-button{text-transform:uppercase;color:#333740;font-weight:700;vertical-align:middle;line-height:65px;padding:0 30px;display:inline-block;border-radius:30px;width:250px;height:60px;position:relative;-webkit-transition:all .3s;transition:all .3s;}
a.video-button:hover{border:none;color:#12a3e2;}
a.video-button:hover span{opacity:0;}
a.video-button:hover i{top:50%;right:50%;-webkit-transform:translate(-50%,-50%) scale(2);transform:translate(-50%,-50%) scale(2);}
a.video-button:hover i{color:#12a3e2;}
a.video-button span{-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s;}
a.video-button i{position:absolute;top:50%;right:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);color:#333740;font-size:12px;border:2px solid;border-radius:30px;margin-left:10px;padding:4px 4px 4px 6px;-webkit-transition:all .3s;transition:all .3s;}
.features{overflow:hidden;}
.counter-content{background:-moz-linear-gradient(130deg, rgba(15,8,22,1) 0%, rgba(33,23,43,1) 90%, rgba(33,23,43,1) 100%);background:-webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(33,23,43,1)), color-stop(10%, rgba(33,23,43,1)), color-stop(100%, rgba(15,8,22,1)));background:-webkit-linear-gradient(130deg, rgba(15,8,22,1) 0%, rgba(33,23,43,1) 90%, rgba(33,23,43,1) 100%);background:-o-linear-gradient(130deg, rgba(15,8,22,1) 0%, rgba(33,23,43,1) 90%, rgba(33,23,43,1) 100%);background:-ms-linear-gradient(130deg, rgba(15,8,22,1) 0%, rgba(33,23,43,1) 90%, rgba(33,23,43,1) 100%);background:linear-gradient(320deg, rgba(15,8,22,1) 0%, rgba(33,23,43,1) 90%, rgba(33,23,43,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#21172b', endColorstr='#0f0816',GradientType=0);padding:100px 0 115px 0;margin:170px 0 70px 0;position:relative;}
.counter-content .product-image{position:absolute;top:-220px;left:-155px}
.counter-content h2.counter{font-size:72px;line-height:100%;font-weight:800;font-family:'Titillium Web', sans-serif;color:#fff;padding-left:20px;margin-bottom:10px;display:inline-block;position:relative;}
.counter-content h2.counter:before{content:'';position:absolute;top:50%;left:0;transform:translateY(-50%);-webkit-transform:translateY(-50%);width:5px;height:75%;border-radius:2.5px;background-color:#12a3e2;}
.counter-content p.title{color:#12a3e2;font-weight:700;margin-bottom:1px;text-transform:uppercase;}
.counter-content p.sub-title{color:#a9a9a9;font-weight:300;text-transform:capitalize;}
.our-features{overflow:hidden;}
.our-features .page-header{margin-top:50px;}
.our-features .left-part{text-align:right;margin-top:50px;padding-right:50px;}
.our-features .center-part{text-align:center;}
.our-features .center-part img{display:inline-block;}
.our-features .right-part{text-align:left;margin-top:50px;padding-left:50px;}
.our-features .left-part .each-part{margin-right:0;}
.our-features .right-part .each-part{margin-left:0;}
.our-features .each-part{margin-bottom:80px;margin-left:auto;margin-right:auto;max-width:265px;width:100%;}
.our-features .each-part p{color:#5b5f64;}
.our-features .each-part h3.title{font-size:20px;margin-bottom:20px;text-transform:uppercase;}
.our-features .left-part .each-part h3.title{padding:0 20px 10px 0;position:relative;}
.our-features .left-part .each-part h3.title:before{content:"";position:absolute;right:0;height:35px;width:5px;background-color:#12a3e2;border-radius:2.5px;}
.our-features .right-part .each-part h3.title{position:relative;padding:0 0 10px 20px;}
.our-features .right-part .each-part h3.title:before{content:"";position:absolute;left:0;height:35px;width:5px;background-color:#12a3e2;border-radius:2.5px;}
.real-man{margin-bottom:120px;overflow:hidden;}
.real-man .page-header{margin:110px 0 80px 0;}
.each-item .right-part{overflow:hidden;}
.previous-img{position:absolute;top:50%;left:-46.5%;-webkit-transform:translateY(-50%);transform:translateY(-50%);z-index:999;}
.each-item .side-content{margin-top:110px;}
.flex-active-slide .side-content{animation:fromRight 1s;}
.each-item .side-content .before h3,
.each-item .side-content .after h3{font-size:40px;text-transform:uppercase;font-family:'Titillium Web', sans-serif;margin-bottom:20px;}
.each-item .side-content .before h3 sub,
.each-item .side-content .after h3 sub{font-weight:300;font-size:16px;float:right;top:30px;left:5px;}
.each-item .side-content .before p,
.each-item .side-content .after p{color:#12a3e2;text-transform:capitalize;}
.each-item .side-content .customer-info{margin-top:40px;padding-left:20px;position:relative;}
.each-item .side-content .customer-info:before{content:"";position:absolute;left:0;width:5px;height:80%;background-color:#12a3e2;border-radius:2.5px;}
.each-item .side-content .customer-info h4,
.each-item .side-content .customer-info p{font-size:16px;color:#333740;text-transform:uppercase;}
.each-item .side-content .customer-info p{padding-bottom:10px;}
.custom-navigation .flex-prev,
.custom-navigation .flex-next{position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);display:block;padding-bottom:2px;z-index:999;opacity:.5;-webkit-transition:opacity .3s;-o-transition:opacity .3s;transition:opacity .3s;}
.custom-navigation .flex-prev:hover,
.custom-navigation .flex-next:hover{opacity:1;color:#12a3e2;}
.custom-navigation .flex-prev{left:0;}
.custom-navigation .flex-next{right:0;}
.flexslider{margin:0 0 70px;}
.flex-control-nav{bottom:-75px;}
.flex-control-paging li a.flex-active{background-color:#12a3e2;}
.flex-control-paging li a{background-color:#d8e4e8;-webkit-box-shadow:none;box-shadow:none;}
.flex-control-paging li a:hover{background-color:#12a3e2;}
.product-content{max-height:500px;overflow:hidden;}
.testimonials{background:url(../img/bg-testimonials.png) no-repeat center fixed;-webkit-background-size:cover;background-size:cover;}
.testimonials .page-header{margin:110px 0 70px 0;}
.testimonials .color-overlay{background-color:rgba(15, 8, 22, 0.95);overflow:hidden;}
.testimonials .page-header h2{color:#e5e5e5;}
.testimonials .page-header .subtitle{color:#767a7d;}
.carousel-testimonials{margin-bottom:100px;}
.carousel-testimonials .client-feedback{font-style:italic;color:#a9a9a9;margin-bottom:35px;}
.carousel-testimonials .item .image{position:relative;list-style-type:none;width:65px;padding-bottom:75px;float:left;overflow:hidden;visibility:hidden;-webkit-transform:rotate(-60deg) skewY(30deg);transform:rotate(-60deg) skewY(30deg);}
.carousel-testimonials .item .image *{position:absolute;visibility:visible;}
.carousel-testimonials .item .image > div{width:100%;height:100%;overflow:hidden;-webkit-transform:skewY(-30deg) rotate(60deg);transform:skewY(-30deg) rotate(60deg);-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.carousel-testimonials .item .image img{left:-100%;right:-100%;width:100%;height:100%;margin:0 auto;}
.carousel-testimonials .client-details{overflow:hidden;display:inline-block;margin-left:60px;}
.carousel-testimonials .client-details .image{float:left;margin-right:30px;}
.carousel-testimonials .client-details .details{float:left;text-align:left;position:relative;}
.carousel-testimonials .client-details .details:before{content:'';position:absolute;bottom:-15px;left:0;width:30%;height:5px;background-color:#12a3e2;border-radius:2.5px;}
.carousel-testimonials .client-details h3{color:#e5e5e5;text-transform:uppercase;margin-bottom:5px;font-size:16px;}
.carousel-testimonials .client-details p{font-size:14px;color:#a9a9a9;}
.owl-theme .owl-controls{margin-top:30px;}
.owl-theme .owl-controls .owl-page span{background-color:#342e3a;-webkit-transition:all .3s;transition:all .3s;}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{opacity:1;background-color:#12a3e2;}
.owl-controls .owl-page span{width:15px;height:15px;margin:5px;background:#bababa;}
.supplement-facts{overflow:hidden;padding-bottom:0px;}
.supplement-facts .tab-title{padding-bottom:20px;text-transform:uppercase;border-bottom:5px solid #333740;}
.supplement-facts .tab-title h3{font-size:24px;font-weight:600;}
.supplement-facts .tab-title h4{font-weight:600;}
.supplement-facts .tab-title h4 .small{font-weight:300;color:#333740;display:block;margin-top:10px;text-align:right;}
.supplement-facts .tab-title h4 span{display:block;}
.supplement-facts ul.nav-pills{margin-bottom:50px;}
.supplement-facts .product-content>div{opacity:0;}
.supplement-facts .product-content .active{opacity:1;}
.supplement-facts .nav-pills>li>a{border-radius:0;}
.supplement-facts .nav-pills>li>a:hover{background-color:transparent;}
.supplement-facts .nav>li>a{padding:8px 0;font-weight:300;color:#333740;text-transform:none;border-top:1px solid #ebebeb;}
.supplement-facts .nav li:first-child a{border-top:none;}
.supplement-facts .nav li:last-child a{border-bottom:1px solid #ebebeb;}
.supplement-facts .nav-pills>li.active>a,
.supplement-facts .nav-pills>li.active>a:focus,
.supplement-facts .nav-pills>li.active>a:hover{-webkit-box-shadow:0 3px 10px 3px rgba(0,0,0,.2);box-shadow:0 3px 10px 3px rgba(0,0,0,.2);background-color:#fff;color:#333740;padding:20px;margin:0 -10px;}
.supplement-facts .nav-pills>li.active+li a{border:none;}
.download-button{background-color:#12a3e2;padding:15px 40px;border:none;border-radius:40px;border:2px solid #12a3e2;}
.download-button:hover{background-color:#fff;color:#12a3e2;border-color:#12a3e2;}
.download-button .pull-left{font-size:16px;font-weight:700;text-transform:uppercase;}
.download-button .pull-right{font-weight:300;text-transform:uppercase;}
.product-content .tab-pane{}
.product-content .image-part{margin-bottom:50px;overflow:hidden;}
.product-content .product-image{position:relative;width:102px;padding-bottom:118px;float:left;overflow:hidden;visibility:hidden;-webkit-transform:rotate(-60deg) skewY(30deg);transform:rotate(-60deg) skewY(30deg);}
.product-content .product-image *{position:absolute;visibility:visible;}
.product-content .product-image > div{width:100%;height:100%;overflow:hidden;-webkit-transform:skewY(-30deg) rotate(60deg);transform:skewY(-30deg) rotate(60deg);-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.product-content .product-image img{left:-100%;right:-100%;width:100%;height:100%;margin:0 auto;}
.product-content .title{padding-left:30px;margin-bottom:30px;position:relative;}
.product-content .title:before{content:'';position:absolute;left:0;width:5px;height:100%;background-color:#12a3e2;border-radius:2.5px;}
.product-content .title h4{font-size:16px;text-transform:uppercase;}
.product-content .title .small{font-weight:300;display:block;color:#333740;font-size:16px;font-family:'Titillium Web', sans-serif;margin-top:12px;text-transform:none;}
.product-content p{line-height:24px;min-height:200px;}
.certifications{overflow:hidden;}
.certifications .page-header{margin:80px 0 50px 0;}
.all-certifications{background-color:#f1f4f5;overflow:hidden;padding-bottom:80px;}
.certifications img{width:100%;}
.each-certificate{border-right:1px solid #e0e0e0;}
.each-certificate:last-child{border-right:none;}
.order-now{padding-top:120px;position:relative;}
.onder-now-area{position:relative;z-index:10;}
.order-now .left-part img{margin-left:-105px}
.order-now .gradient{top:40%;z-index:3;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 42%, rgba(255, 255, 255, 0) 100%);background:-webkit-gradient(linear, to left top, right top, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(42%,rgba(255, 255, 255, 1)), color-stop(100%,rgba(255, 255, 255, 0)));background:-webkit-linear-gradient(to left, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 42%,rgba(255, 255, 255, 0) 100%);background:-o-linear-gradient(to left, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 42%,rgba(255, 255, 255, 0) 100%);background:-ms-linear-gradient(to left, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 42%,rgba(255, 255, 255, 0) 100%);background:linear-gradient(to left, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 42%,rgba(255, 255, 255, 0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1);}
.order-now .dotted_bg{position:absolute;top:40%;}
.order-now .right-part{margin-bottom:200px;margin-top:50px;}
.order-now .right-part .title{padding-left:30px;margin-bottom:30px;position:relative;}
.order-now .right-part .title:before{content:'';position:absolute;left:0;width:5px;height:100%;background-color:#12a3e2;border-radius:2.5px;}
.order-now .right-part .title h4{font-size:30px;text-transform:uppercase;}
.order-now .right-part .title .small{font-weight:300;display:block;color:#333740;font-size:20px;font-family:'Titillium Web', sans-serif;margin-top:20px;}
.order-now .right-part p{line-height:24px;}
.order-now .order-button{margin-top:40px;}
.subscribe-form .color-overlay{background-color:rgba(0,0,0,0);padding-bottom:80px;overflow:hidden;}
.subscribe-form{overflow:hidden;background:url(../img/hirlevel_bg.jpg) no-repeat center fixed;-webkit-background-size:cover;background-size:cover;background-position:center center;}
.subscribe-form .page-header{margin:100px 0 35px 0;}
.subscribe-form .page-header h2{color:#e5e5e5;}
.subscribe-form .page-header .subtitle{color:#767a7d;line-height:30px;}
.subscribe-form .form{overflow:hidden;border-radius:10px;max-width:768px;width:100%;margin-left:auto;margin-right:auto;}
.subscribe-form .submit-button,
.subscribe-form .text-field{padding:0;}
.subscribe-form input{border-radius:30px;padding:15px 30px;width:45%;height:50px;border:none;font-size:16px;font-family:'Titillium Web', sans-serif;font-weight:300;margin-bottom:20px;margin-right:20px;float:left;}
.subscribe-form input[type="submit"]{border-radius:30px;padding:15px;width:100%;height:50px;border:none;text-transform:lowercase;font-weight:700;background-color:#12a3e2;font-size:16px;}
.subscribe-label{margin-top:10px;}
.subscribe-form .error{top:0;}
.error{color:red;line-height:20px;font-size:14px;position:relative;top:-20px;left:0;}
.contact-form{padding-top:110px;margin-bottom:120px;}
.contact-form .page-header{margin:0 0 80px;}
.contact-form label{display:none;font-size:18px;line-height:24px;font-weight:100;text-transform:uppercase;}
.contact-form.no-placeholder label{display:block}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea{border:none;border-bottom:1px solid #ebebeb;-webkit-box-shadow:none;box-shadow:none;width:100%;padding:15px 0;margin-bottom:30px;}
.contact-form input[type="submit"].order-button{border-radius:30px;font-weight:700;margin-top:10px;}
.contact-form input[type="text"]:active,
.contact-form input[type="email"]:active,
.contact-form textarea:active,
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus{color:none;border-bottom:1px solid #12a3e2;}
.contact-form input[type="submit"].order-button{border-radius:30px;font-weight:700;margin-top:10px;padding:15px 80px;line-height:20px;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s;}
.footer{overflow:hidden;background-color:#f7f7f7;padding:50px 0 35px 0;;}
.footer p{font-size:14px;}
.footer .col-sm-3, .footer .col-sm-6{padding-left:0px;}
.footer-first .col-sm-3, .footer-first .col-sm-6{align-self:flex-end;font-size:25px;}
.footer-first .col-sm-3 p{font-size:25px;line-height:40px;}
.footer-first .col-sm-3 p a{font-weight:600;}
.footer .fa-facebook{width:40px;height:40px;color:#fff;background:#909090;border-radius:50%;padding-left:13px;padding-top:9px;font-size:25px;}
#footer-logo{width:80%;max-width:400px;margin-bottom:25px;}
svg path{fill:#000 !important;background-color:#000;color:#12a3e2;width:50%;}
.footer .row{border-bottom:1px solid #d8d8d8;margin-top:40px;padding-bottom:30px;}
.footer-first{display:flex;}
.footer .title{margin-bottom:20px;font-weight:600;color:#000;}
.nav-menu-footer{font-size:14px;font-weight:300;margin-bottom:50px;line-height:40px;}
.nav-menu-footer li{padding:0 10px;display:block;}
.nav-menu-footer li:last-child{border:none;}
.social-icon ul{margin-top:15px;}
.social-icon ul>li>a{font-size:24px;margin-right:30px;}
@-webkit-keyframes fromRight{0%{opacity:0;-webkit-transform:translateX(50px);transform:translateX(50px)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes fromRight{0%{opacity:0;-webkit-transform:translateX(50px);-ms-transform:translateX(50px);transform:translateX(50px)}
100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
.fromRight{-webkit-animation-name:fromRight;animation-name:fromRight}